

            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            {{!-- <h6 class="mb-4">Basic Form</h6> --}}
                            <form>
                                
                                {{#each block}}
                                {{#if this.block}}
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label mt-2" ><h4>Are you sure to unblock the user</h4></label>
                                    {{!-- <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp"> --}}
                                    {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> --}}&nbsp;&nbsp;&nbsp;
                                     <a href="/admin/active/{{this._id}}" class="btn btn-success" onclick="return confirm ('Are you sure you want to unblock {{this.name}}?')"> Activate</a>
                                </div>
                                {{else}}
                                
                                 <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label mt-2" ><h4>Are you sure to block the user</h4></label>
                                    {{!-- <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp"> --}}
                                    {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> --}}&nbsp;&nbsp;&nbsp;
                                     <a href="/admin/block/{{this._id}}" class="btn btn-primary" onclick="return confirm ('Are you sure you want to block {{this.name}}?')"> Block</a>
                                </div>
                                
                                {{/if}}
                                {{!-- <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1">
                                </div> --}}
                                {{!-- <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div> --}}
                              {{/each}}
                            </form>
                        </div>
                    </div>
                    
        