

            <a href="/admin/addProduct" class="btn btn-primary m-4 mb-0">Add new product</a>

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
            
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Responsive Table</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Product Category</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Discount</th>
                                            <th scope="col">Product Image</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                            {{!-- <th scope="col">Block/Unblock User</th>
                                            <th scope="col">Status</th> --}}
                                        </tr>
                                    </thead> 

                                    <tbody>
                                     {{#each productData}}
                                        <tr> 
                                            <th scope="row">{{inc @index}}</th>
                                            <td>{{this.name}}</td>
                                            <td>{{this.category.category}}</td>
                                            <td>{{this.description}}</td>
                                            <td>{{this.quantity}}</td>
                                            <td>{{this.amount}}</td>
                                            <td>{{this.discount}}</td>
                    
                                            <td><img src="/productImageUploads/{{this.imagepath.[0]}}" style="width:50px;height:50px;"></td>
                                            <td><a href="/admin/viewEditProduct/{{this._id}}"><i class="bi bi-pencil-square"></i></a></td>
                                            <td><a href="/admin/deleteProduct/{{this._id}}"><i class="bi bi-trash"></i></a></td>

                                            {{!-- <td><a href="/admin/edit/{{this._id}}"><i class="bi bi-pencil-square"></i></a></td>
                                             <td><img src="/productUploads/{{this.imagepath.[0]}}" style="width:25px;height:25px;"></td> 
                                            {{#if this.block}}
                                          
                                            <td><button class="btn btn-primary">blocked</button></td>
                                            {{else}}
                                              <td><button class="btn btn-success">active</button></td>
                                            {{/if}} --}}
                                        </tr>
                                   {{/each}}
                                 </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table End -->

        <!-- Content End -->

