<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />

<!-- Header -->
<header>
  <!-- Header desktop -->
  <div class="container-menu-desktop">
    <!-- Topbar -->
    <div class="top-bar">
      <div class="content-topbar flex-sb-m h-full container">
        <div class="left-top-bar">
          Free shipping for standard order over $100
        </div>

        <div class="right-top-bar flex-w h-full">
          <a href="#" class="flex-c-m trans-04 p-lr-25"> Help & FAQs </a>

          <a href="/userDetails" class="flex-c-m trans-04 p-lr-25"> My Account </a>

          <a href="#" class="flex-c-m trans-04 p-lr-25"> EN </a>

          <a href="#" class="flex-c-m trans-04 p-lr-25"> USD </a>
        </div>
      </div>
    </div>

    <div class="wrap-menu-desktop" style="position: absolute;">
      <nav class="limiter-menu-desktop container">
        <!-- Logo desktop -->
        <a href="#" class="logo">Fashion Clues
        </a>

        <!-- Menu desktop -->
        <div class="menu-desktop">
          <ul class="main-menu">
            <li class="">
              <a href="#">Home</a>
            </li>

            <li>
              <a href="/allProducts">Shop</a>
            </li>
            {{!-- class="label1" data-label1="hot" --}}
            {{!-- <li>
              <a href="shoping-cart.html">Features</a>
            </li> --}}

            <li>
              <a href="about.html">About</a>
            </li>

            <li>
              <a href="contact.html">Contact</a>
            </li>

            <li>
              <a href="/logout">Logout</a>
            </li>

          </ul>
        </div>

        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m">
          <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
            <i class="zmdi zmdi-search"></i>
          </div>

          <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
            data-notify="2">
            <a href="/viewCart"><i class="zmdi zmdi-shopping-cart"></i></a>
          </div>

          <a href="/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
            data-notify="0">
            <i class="zmdi zmdi-favorite-outline"></i>
          </a>
        </div>
      </nav>
    </div>
  </div>

  <!-- Header Mobile -->
  <div class="wrap-header-mobile">
    <!-- Logo moblie -->
    <div class="logo-mobile">
      <a href="index.html"><img src="images/icons/logo-01.png" alt="IMG-LOGO" /></a>
    </div>

    <!-- Icon header -->
    <div class="wrap-icon-header flex-w flex-r-m m-r-15">
      <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
        <i class="zmdi zmdi-search"></i>
      </div>

      <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="2">
        <i class="zmdi zmdi-shopping-cart"></i>
      </div>

      <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti"
        data-notify="0">
        <i class="zmdi zmdi-favorite-outline"></i>
      </a>
    </div>

    <!-- Button show menu -->
    <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </div>
  </div>

  <!-- Menu Mobile -->
  <div class="menu-mobile">
    <ul class="topbar-mobile">
      <li>
        <div class="left-top-bar">
          Free shipping for standard order over $100
        </div>
      </li>

      <li>
        <div class="right-top-bar flex-w h-full">
          <a href="#" class="flex-c-m p-lr-10 trans-04"> Help & FAQs </a>

          <a href="#" class="flex-c-m p-lr-10 trans-04"> My Account </a>

          <a href="#" class="flex-c-m p-lr-10 trans-04"> EN </a>

          <a href="#" class="flex-c-m p-lr-10 trans-04"> USD </a>
        </div>
      </li>
    </ul>

    <ul class="main-menu-m">
      <li>
        <a href="index.html">Home</a>
        <ul class="sub-menu-m">
          <li><a href="index.html">Homepage 1</a></li>
          <li><a href="home-02.html">Homepage 2</a></li>
          <li><a href="home-03.html">Homepage 3</a></li>
        </ul>
        <span class="arrow-main-menu-m">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </span>
      </li>

      <li>
        <a href="product.html">Shop</a>
      </li>

      <li>
        <a href="shoping-cart.html" class="label1 rs1" data-label1="hot">Features</a>
      </li>

      <li>
        <a href="blog.html">Blog</a>
      </li>

      <li>
        <a href="about.html">About</a>
      </li>

      <li>
        <a href="contact.html">Contact</a>
      </li>
    </ul>
  </div>

  <!-- Modal Search -->
  <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
    <div class="container-search-header">
      <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
        <img src="images/icons/icon-close2.png" alt="CLOSE" />
      </button>

      <form class="wrap-search-header flex-w p-l-15">
        <button class="flex-c-m trans-04">
          <i class="zmdi zmdi-search"></i>
        </button>
        <input class="plh3" type="text" name="search" placeholder="Search..." />
      </form>
    </div>
  </div>
</header>



<!--Main layout-->
<main class="pt-5">
  <div class="container wow fadeIn">

    <!-- Heading -->
    <h2 class="my-5 h2 text-center">Checkout form</h2>
    {{!-- cards to select address --}}
    <h2 class="pb-3"> Select Address</h2>
    <span id="addressSpan" class="error" style="display: none ; color:brown">Please select an Address.</span>
    <div class="row">
      {{#each addressData}}
      <div class="card pl-3 pt-1 pb-1 m-1" style="width: 18rem;">
        <div class="card-body">
          <div class="form-check">
            <input type="radio" onclick="billingAddress('{{this._id}}')" class="form-check-input" id="radio1"
              name="address" value="">
            <label class="form-check-label" for="radio1"></label>
          </div>
          <h5 class="card-title">{{this.firstName}} {{this.lastName}}</h5>
          <h6 class="card-subtitle mb-1 text-muted">ph: {{this.phoneNumber}}</h6>
          <p class="card-text">address: {{this.address}}</p>
          <p class="card-text">zip: {{this.pincode}}</p>
          {{!-- <a href="/userDetails" class="btn btn-primary mt-3">Manage</a> --}}
          {{!-- <a href="#" class="card-link">Another link</a> --}}
        </div>
      </div>
      {{/each}}

      {{!-- <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="form-check">
            <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Option 1
            <label class="form-check-label" for="radio1"></label>
          </div>
          <h5 class="card-title">Address 1</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div> --}}
    </div>
    <a href="/addAddress" class="btn btn-outline-success mt-4 mr-2">Add New Address</a>
    <a href="/userDetails" class="btn btn-outline-success mt-4">Manage Addresses</a>
    <!--Grid row-->
    <div class="row pt-5">

      <!--Grid column-->
      <div class="col-md-8 mb-4">
        <h2 class="pb-4">Billing Address</h2>

        <!--Card-->
        <div class="card">

          <!--Card content-->
          <form class="card-body">
            <form method="post" action="">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputAddress2">First Name</label>
                  <input type="text" disabled name="firstName" class="form-control" id="firstName"
                    value="{{this.firstName}}">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputAddress2">Last Name</label>
                  <input type="text" disabled name="lastName" class="form-control" id="lastName"
                    value="{{this.lastName}}">
                </div>
              </div>
              <div class="form-group ">
                <label for="inputEmail4">Email</label>
                <input type="email" disabled name="email" class="form-control" id="email" value="{{this.email}}">
              </div>
              <div class="form-group ">
                <label for="inputEmail4">Phone number</label>
                <input type="number" disabled name="phoneNumber" class="form-control" id="phoneNumber"
                  value="{{this.phoneNumber}}">
              </div>
              <div class="form-group">
                <label for="inputAddress2">Address</label>
                <input type="text" disabled name="address" class="form-control" id="address" value="{{this.address}}">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">City</label>
                  <input type="text" disabled name="city" class="form-control" id="city" value="{{this.city}}">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">State</label>
                  {{!-- <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option value="Kerala">kerala</option>
                  </select> --}}
                  <input type="text" disabled name="state" class="form-control" id="state" value="{{this.state}}">
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">Zip</label>
                  <input type="text" disabled name="pincode" class="form-control" id="pincode" value="{{this.pincode}}">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputCity">Landmark</label>
                  <input type="text" disabled name="landmark" class="form-control" id="landmark"
                    value="{{this.landmark}}">
                </div>
              </div>


            </form>



          </form>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">

        <!-- Heading -->
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          {{!-- <span class="text-muted">Your cart</span> --}}
          <h2 class="pb-3">Your Cart</h2>
          {{!-- <span class="badge badge-secondary badge-pill">3</span> --}}
        </h4>

        <!-- Cart -->
        <div id="CartDiv">
        <ul class="list-group mb-3 z-depth-1">
          {{#each cartData.products}}
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">{{this.productId.name}}</h6>
              <small class="text-muted">x{{this.quantity}}</small>
            </div>
            <span class="text-muted" {{this.productId._id}}price>₹{{total this.productId.amount this.productId.discount
              this.quantity}}</span>
          </li>
          {{/each}}

          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small id="couponCode">CODE</small>
            </div>
            <span class="text-success">-₹<span id="discountAmount"></span></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (INR)</span>
            <strong id="totalAmount">{{totalAmount}}</strong>
          </li>
        </ul>
        </div>
        <!-- Cart -->
        <!-- Promo code -->
        <form class="card p-2">
          <button type="button" class="btn btn-outline-dark p-2 mb-2" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            Coupons Available >>>
          </button>
          <div class="input-group">
            <input id="couponId" type="text" class="form-control" placeholder="Promo code"
              aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button onclick="couponValidator('{{totalAmount}}')" class="btn btn-secondary  btn-md waves-effect m-0"
                type="button">Redeem</button>
            </div>
          </div>
          <span>
            <p class="pt-2 pl-3" style="color:rgb(7, 6, 6) ;" id="couponValue">Check coupons!</p>
          </span>

        </form>
        <!-- Promo code -->

        <div class="modal " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog pt-5 mt-5">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select Coupon</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {{#each couponData}}
                <div class="card text-center m-5" style="background-color: #f7f7f7;">
                  <div class="card-header">
                    {{couponName}}
                  </div>
                  <div class="card-body p-5" style="background-color: #f7f7f7;">
                    <h5 class="card-title">{{couponCode}}</h5>
                    <p class="card-text">Coupon worth ₹{{discountAmount}} <br> For minimum purchase of ₹{{minAmount}}
                    </p>
                    <a href="" class="btn btn-primary" style="background-color: #48433b; border: #B19361;"
                      onclick="copyFunction('{{couponCode}}')">Copy Code</a>
                  </div>
                  <div class="card-footer text-muted">
                    Expiry Date: {{formatString expiryDate}}
                  </div>
                </div>
                {{/each}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-success">Save changes</button>
              </div>
            </div>
          </div>
        </div>


        {{!-- payment method --}}
        <form>
          <h2 class="ml-2 mt-4">Payment Mode</h2>
          <span id="paymentSpan" class="error" style="display: none; color:brown">Please select a payment Method.</span>
          <div class="form-check mt-4 ml-5">
            <input class="form-check-input" type="radio" name="paymentMethod" value="COD" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              COD
            </label>
          </div>
          <div class="form-check ml-5">
            <input class="form-check-input" type="radio" name="paymentMethod" value="Online Payment"
              id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              Online Payment
            </label>
          </div>
          <div class="pt-5 text-center"> <button type="button" onclick="confirmOrderButton()" class="btn btn-success "
              id="confirmOrder">Confirm Order</button> </div>
        </form>
      </div>
      <!--Grid column-->
      </form>
    </div>
    <!--Address div-->


  </div>
</main>
<!--Main layout-->

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

{{!--
<script>   new WOW().init();</script> --}}
<!--/.Footer-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#confirmOrder").click(function () {
            //Set the Valid Flag to True if one RadioButton from the Group of RadioButtons is checked.
            var isValid = $("input[name=paymentMethod]").is(":checked");
            var isValid = $("input[name=address]").is(":checked");
            //Display error message if no RadioButton is checked.
            $("#paymentSpan")[0].style.display = isValid ? "none" : "block";
            $("#addressSpan")[0].style.display = isValid ? "none" : "block";
        });
    });
</script>

<script>
  function billingAddress(addId) {
    console.log(addId);
    $.ajax({
      url: '/billingAddress',
      data: {
        address: addId,
      },
      method: 'post',
      success: (res) => {
        console.log("this is from response", res);

        document.getElementById("firstName").value = res.address.firstName;
        document.getElementById("phoneNumber").value = res.address.phoneNumber;
        document.getElementById("email").value = res.address.email;
        document.getElementById("address").value = res.address.address;
        document.getElementById("lastName").value = res.address.lastName;
        document.getElementById("pincode").value = res.address.pincode;
        document.getElementById("city").value = res.address.city;
        document.getElementById("landmark").value = res.address.landmark;
        document.getElementById("state").value = res.address.state;

      },

      error: (error) => {
        alert('hierror')
        console.log(error)
      },
    })
  }
</script>

<script>
  function confirmOrderButton() {

    firstName = document.getElementById("firstName").value
    phoneNumber = document.getElementById("phoneNumber").value
    email = document.getElementById("email").value
    address = document.getElementById("address").value
    lastName = document.getElementById("lastName").value
    pincode = document.getElementById("pincode").value
    city = document.getElementById("city").value
    landmark = document.getElementById("landmark").value
    state = document.getElementById("state").value
    paymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value;


    $.ajax({
      url: '/confirmOrderButton',
      data: {
        firstName: firstName,
        phoneNumber: phoneNumber,
        email: email,
        address: address,
        lastName: lastName,
        pincode: pincode,
        city: city,
        landmark: landmark,
        state: state,
        paymentMethod: paymentMethod

      },
      method: 'post',
      success: (res) => {
        console.log("response from ajax::", res)
        if (res.status == "COD") {
          location.replace('/renderConfirmation');
        }

        else {
          var options = {
            "key": "rzp_test_uMMVXT27Kdqb0g", // Enter the Key ID generated from the Dashboard
            "amount": res.razorData.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Acme Corp",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": res.razorData.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
              verifyPayment(response, res.razorData);
            },
            "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
            "prefill": {
              "name": "Gaurav Kumar",
              "email": "gaurav.kumar@example.com",
              "contact": "9999999999"
            },
            "notes": {
              "address": "Razorpay Corporate Office"
            },
            "theme": {
              "color": "#3399cc"
            }
          };
          var rzp1 = new Razorpay(options);
          document.getElementById('confirmOrder').onclick = function (e) {
            rzp1.open();
            e.preventDefault();
            rzp1.on('payment.failed', function (response) {
              alert(response.error.code);
              //alert(response.error.description);
              //alert(response.error.source);
              //alert(response.error.step);
              //alert(response.error.reason);
              //alert(response.error.metadata.order_id);
              //alert(response.error.metadata.payment_id);

            });

          }
        }
        //location.reload()
      },

      error: (error) => {
        alert('hierror')
        console.log(error)
      },
    })
  }
  function verifyPayment(razorResponse, razorData) {
    console.log('this is working');
    $.ajax({
      url: '/verifyRazorpay',
      data: {
        razorResponse,
        razorData
      },
      method: 'post',
      success: (res) => {
        if (res.status) {
          location.replace('/renderConfirmation');
        }
      }
    })
  }
</script>
<script>
  function couponValidator(total) {
    let totalAmount = document.getElementById('totalAmount').textContent
    couponId = document.getElementById('couponId').value
    console.log('Coupon Id ;', couponId, 'total amount:', totalAmount);
    $.ajax({
      url: '/couponValidation',
      data: {
        couponId: couponId,
        total: total


      },

      method: 'post',
      success: (response) => {
        console.log(response);
        
        if (response.message == 'used already') {
          document.getElementById("totalAmount").textContent = total;
          document.getElementById("discountAmount").textContent = "NIL";
          document.getElementById("couponCode").textContent = "NIL";

          document.getElementById('couponValue').innerHTML = "<span style='color: red;'>Coupon Already Used!</span>";
        }
        else if (response.message == 'coupon expired') {
          document.getElementById("totalAmount").textContent = total;
          document.getElementById("discountAmount").textContent = "NIL";
          document.getElementById("couponCode").textContent = "NIL";

          document.getElementById('couponValue').innerHTML = "<span style='color: red;'>Coupon Expired!</span>";
        }
        else if (response.message == 'less than minimum') {
          document.getElementById("totalAmount").textContent = total;
          document.getElementById("discountAmount").textContent = "NIL";
          document.getElementById("couponCode").textContent = "NIL";

          document.getElementById('couponValue').innerHTML = "<span style='color: red;'>Add Items to Cart!</span>";
        }
        else if (response.message == 'succesfull') {
          document.getElementById("totalAmount").textContent = response.couponTotal;
          document.getElementById("discountAmount").textContent = response.coupons.discountAmount;
          document.getElementById("couponCode").textContent = response.coupons.couponCode;

          document.getElementById('couponValue').innerHTML = "<span style='color: green;'>Coupon Applied!</span>";
        }
        else if (response.message == 'invalid coupon') {
          document.getElementById("totalAmount").textContent = total;
          document.getElementById("discountAmount").textContent = "NIL";
          document.getElementById("couponCode").textContent = "NIL";

          document.getElementById('couponValue').innerHTML = "<span style='color: red;'>Invalid Coupon!</span>";
        }
      }
    });
  }


  function copyFunction(couponId) {
    event.preventDefault()
    console.log("copied couponId:", couponId);
    navigator.clipboard.writeText(couponId);
  }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>